@font-face{font-family:Brand;src:url('../public/Brand-Regular.ttf');font-weight:400;font-display:block}
@font-face{font-family:Brand;src:url('../public/Brand-Bold.ttf');font-weight:700;font-display:block}
.captions>div>div{background-color:rgba(7,30,37,.92)!important;border-radius:15px;font-family:Brand,Arial!important;font-size:58px!important;font-weight:700!important;padding:18px 24px!important;box-shadow:0 8px 30px #0002;line-height:1.25!important}
